{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
           <br> <h1 class="mb-4">Listado comentrio</h1>

           <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-dark table-striped table-hover text-center"  id="tbl-recetas">
                    <thead>
        <tr>
          <th>Autor</th>
          <th>Receta</th>
          <th>Contenido</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for comentario in comentarios %}
        <tr>
          <td>{{ comentario.autor }}</td>
          <td>{{ comentario.receta.nombre }}</td>
          <td>{{ comentario.contenido }}</td>
          <td>{{ comentario.fecha|date:"d de F, Y H:i" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
{% endblock %}